/*Values.css dosyasını içe aktar */
@import 'custom_styles/values.css';

/*Header.css dosyasını içe aktar */
@import 'custom_styles/header.css';



.blog-section {
    padding: 50px 0;
    background-color: var(--light-background-color);
}

.blog-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: bold;
    color: var(--text-light);
}

.blog-card {
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background: var(--light-background-color);
    box-shadow: 0 2px 15px var(--overlay-10);
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card img {
    padding-top: 10px;
    width: 95%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.blog-card-content {
    padding: 20px;
}

.blog-card-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: var(--text-light);
    font-weight: 800;
}

.blog-meta {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
    color: var(--gold-color);
    font-size: 0.8rem;
    padding: 10px 0;
}

.blog-meta i {
    color: var(--gold-color);
}

.blog-excerpt {
    color: var(--text-light);
    margin-bottom: 20px;
    line-height: 1.6;
}

.read-more {
    display: inline-block;
    padding: 8px 0;
    color: var(--text-muted);
    text-decoration: none;
    border-bottom: 1px solid var(--text-muted);
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.read-more:hover {
    color: var(--text-light);
    font-weight: 600;
    border-bottom-color: var(--text-muted);
}

.blog-category {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--overlay-75);
    color: var(--text-light);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
}

