/*Values.css dosyasını içe aktar */
@import 'custom_styles/values.css';

/*Header.css dosyasını içe aktar */
@import 'custom_styles/header.css';

/*Eleventh.css dosyasını içe aktar */
@import 'custom_styles/eleventh.css';

/*Fourth.css dosyasını içe aktar */
@import 'mainPageCss/fourth.css';

/*Fifth.css dosyasını içe aktar */
@import 'mainPageCss/fifth.css';

/*Sixth.css dosyasını içe aktar */
@import 'mainPageCss/sixth.css';

.fourth-section , .services-section{
    padding: 50px 0 0 0 ;
}


.fifth-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.fifth-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

@media (max-width: 768px) {
    .fifth-container {
        padding: 0 10px;
    }
    
    .fifth-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}



/* Modal Stilleri */
.image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-75);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90vh;
}

.modal-content img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.close-modal {
    position: absolute;
    top: -40px;
    right: 0;
    color: var(--text-light);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: var(--gold-color);
}